
.profile {
	text-align: center;
	background: white;
	@extend %shadow;
	grid-column: 1;
  grid-row: 1;
}

.profile__decr {
	text-align: center;
	margin-bottom: 1rem;

	&__name {
		color: $black;
		margin: 0;
		padding: 1rem 0 0.5rem 0;
		font-size: 1.6rem;
		text-transform: uppercase;
	}

	&__prof {
		color: $light-grey;
		margin: 0;
	}
}

.profile__cv {
	display: inline-block;
	margin: auto;
	text-align: center;
	margin: 1.3rem 0;
	border-radius: 2rem;
	border: 2px solid $accent;
	transition: 0.3s ease .1s;

	&:hover {
		background-color: $accent;
		.profile__cv__download {
			color: white;
		}
	}
}


.profile__socials {
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-top: 1px dashed $light-grey;

	&__icon {
		font-size: 1.3rem;
		padding: 0.7rem;
		margin-right: 0.5rem;
		color: $accent;
		line-height: 0;
		background-color: lighten($light-grey, 15%);
		border-radius: 50%;
		transition: 0.3s ease .1s;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: white;
			background-color: $accent;
		}
	}
}